target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Other ###
.idea/
src/main/
src/test/java/otherPractice/*
allure-results*/
output/
.allure/
ajcore*

src/test/java/com/dotdash/takehome/utils/ExpectedConditionUtils.java
src/test/java/com/dotdash/takehome/utils/JUnitExecutionListener.java
src/test/java/com/dotdash/takehome/utils/TraceHelper.java
